/**
 * 用于覆盖百度地图的样式
 */
// 隐藏百度地图 Logo 和 版权文字
.anchorBL {
    &.BMap_cpyCtrl,
    a,
    img {
        display: none;
    }
}

// 水波纹动画
@keyframes water-animate {
    0% {
        transform: scale(0.98);
        opacity: 0.7;
    }

    100% {
        transform: scale(1.8);
        opacity: 0;
    }
}

.water-animation-in-map {
    position: absolute;
    left: 50%;
    top: 50%;

    .water-animation1,
    .water-animation2,
    .water-animation3 {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgba(15, 167, 255, 0.25);
        box-shadow: 0 0 0.01rem 0.08rem rgba(15, 167, 255, 0.25);
        border-radius: 100%;
        z-index: 1;
        opacity: 0;
    }

    .water-animation1 {
        animation: water-animate 3s 0.5s ease-out;
    }

    .water-animation2 {
        animation: water-animate 3s 1.5s ease-out;
    }

    .water-animation3 {
        animation: water-animate 3s 2.5s ease-out;
    }

    &.water-animation-in-map-infinite {
        .water-animation1 {
            animation: water-animate 3s 0.5s ease-out infinite;
        }

        .water-animation2 {
            animation: water-animate 3s 1.5s ease-out infinite;
        }

        .water-animation3 {
            animation: water-animate 3s 2.5s ease-out infinite;
        }
    }
}
